@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CadizWeb-Black.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CadizWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CadizWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: 'stack-interface';
  src: url("../fonts/stack-interface.eot");
  src: url("../fonts/stack-interface.eot?#iefix") format("embedded-opentype"),
  url("../fonts/stack-interface.woff2") format("woff2"),
  url("../fonts/stack-interface.woff") format("woff"),
  url("../fonts/stack-interface.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


// Vendor
@import "app";

.hero-section {
  max-height: 50vh !important;
}


.wp-block{
 max-width: 1920px;
 background-color: #fff;
}