@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CadizWeb-Black.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CadizWeb-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family:'CadizWeb';
  src: url('../fonts/CadizWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CadizWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CadizWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/CadizWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: 'stack-interface';
  src: url("../fonts/stack-interface.eot");
  src: url("../fonts/stack-interface.eot?#iefix") format("embedded-opentype"),
  url("../fonts/stack-interface.woff2") format("woff2"),
  url("../fonts/stack-interface.woff") format("woff"),
  url("../fonts/stack-interface.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

[data-aos] {
  visibility: hidden;
}
[data-aos].aos-animate {
  visibility: visible;
}

p {
  font-size: 16px;
  @include media-breakpoint-down(md) {
    font-size: 14px;
    line-height: 25px;
  }
}

a {
  &:hover {
    cursor: pointer;
  }
}

.toggle-overlay {
  &:hover {
    cursor: pointer;
  }
}

.tc-container__content {
  @include media-breakpoint-down(md) {
    padding: 0 50px !important;
  }
}

.error-container {
  margin-top: 100px;
  padding: 100px;
  text-align: center;
  height: 80vh;
}

// Blocks
.reference-section {
  padding: 55px;
  color: $text-dark;

  @include media-breakpoint-down(md) {
    padding: 55px;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px;
  }

  @include media-breakpoint-up(lg) {
    padding: 120px;
    padding-left: 335px;
    padding-right: 335px;
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  .row {
    justify-content: center;
  }

  .col {
    padding-right: 50px;
    padding-left: 50px;

    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
    }
  }

  .wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;

    &.no-padding {
      padding: 0;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 30px;
      padding-top: 0;
      display: block;
    }

    @include media-breakpoint-up(md) {
      padding-top: 0;
    }

    img {
      width: auto;
      height: 25px;
      opacity: 1;
      transition: opacity 300ms ease;

      &:hover {
        opacity: 0.2;
        transition: opacity 300ms ease;
      }
    }
  }

  h2 {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;

    @include media-breakpoint-down(md) {
      font-size: 24px;
      line-height: 40px;
      word-break: break-word;
    }
  }
}

.team-section {
  padding: 120px;
  padding-left: 170px;
  padding-right: 170px;
  color: $text-dark;

  @media (min-width: 1200px) and (max-width: 1600px) {
    //padding-left: 200px;
    //padding-right: 200px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @include media-breakpoint-down(md) {
    padding: 30px;
  }

  h2 {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  .person {
    padding-bottom: 70px;
    position: relative;

    &.placeholder {
      position: relative;

      .white-overlay {
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 0;
        background-color: rgba(255, 255, 255, 0.77);
        background-blend-mode: color;
      }


      .placeholder-text {
        position: absolute;
        top: -40px;
        left: 0;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-down(md) {
          top: 0;
        }

        h3 {
          margin-bottom: 20px;
          font-size: 25px;
          line-height: 25px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      &:last-child {
        padding-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      color: $text-dark;
    }

    img {
      width: 100%;
      margin-bottom: 20px;
    }

    h4 {
      font-size: 18px;
      line-height: 30px;
      color: #FF8057;
      font-weight: bold;

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }

    h5 {
      font-size: 16px;
      line-height: 30px;
      font-family: 'Roboto Mono', monospace;
      margin-bottom: 30px;

      @include media-breakpoint-down(md) {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}

.featured-section {
  padding: 120px;
  padding-left: 335px;
  padding-right: 335px;
  color: $text-dark;

  @media (min-width: 1200px) and (max-width: 1600px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @include media-breakpoint-down(md) {
    padding: 55px;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px;
  }

  h1 {
    font-size: 33px;
    line-height: 50px;
    margin-bottom: 30px;
    font-weight: bold;

    @include media-breakpoint-down(md) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  h2 {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 30px;
    font-weight: bold;

    @include media-breakpoint-down(md) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  h3 {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #EF7D55;

    @include media-breakpoint-down(md) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  h4 {
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .main-column {
    margin: 0 auto;
    padding-left: 320px;
    padding-right: 320px;
    padding-bottom: 20px;
    @media (min-width: 1200px) and (max-width: 1600px) {
      padding-left: 200px;
      padding-right: 200px;
    }
  
    @include media-breakpoint-down(lg) {
      padding-left: 120px;
      padding-right: 120px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  
    @include media-breakpoint-down(sm) {
      padding: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .feature-wrap {
    &:first-child {
      .feature {
        padding-left: 0;
        padding-right: 50px;
        @include media-breakpoint-down(sm) {
          padding: 20px;
        }
      }
    }

    &:last-child {
      .feature {
        padding-left: 50px;
        padding-right: 0;
        @include media-breakpoint-down(sm) {
          padding: 20px;
        }
      }
    }
  }

  .feature {
    padding: 40px;

    @include media-breakpoint-down(md) {
      padding-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }

    p {
      margin: 0;
    }
  }

  .bottom-link {
    margin: 0 auto;
    padding-top: 120px;

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }

    a {
      color: #ef7d55;
      text-align: center;
      &:hover {
        color: #1b213e !important;
      }
    }
  }
}

.contact-overlay {
  padding: 40px;
  height: 100vh;
  width: 100%;
  background-color: rgba(27, 33, 62, 0.95);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFFFFF;
  overflow: auto;
  display: none;

  @include media-breakpoint-down(sm) {
    padding-bottom: 140px;
  }

  .toggle-overlay {
    position: absolute;
    right: 30px;
    top: 10px;
    height: 40px;
    width: 21px;

    &:hover {
      cursor: pointer;
    }
  }

  .main-subtitle {
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin: 0;
  }

  h3 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .main-logo {
    width: 66px;
    height: 74px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .wrapper {
    word-wrap: break-word;

    .wpcf7 {
      input, textarea {
        overflow: visible;
        padding: 3px;
        border: 0;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: normal;
        width: 100%;
      }

      textarea {
        height: 76px;
        resize: none;
      }

      input, textarea {
        background-color: #DAE3E3;
        color: #122940;
        font-family: 'CadizWeb';
      }

      input::placeholder, textarea::placeholder {
        opacity: 1;
        color: #122940;
      }

      .wpcf7-file, .wpcf7-submit {
        color: inherit;
        background-color: transparent;
      }

      .file-wrapper {
        display: flex;
        margin-bottom: 20px;

        .text-wrapper {
          p {
            text-align: left;
            line-height: 24px;
          }

          .title {
            font-size: 16px;
            font-weight: bold;
          }

          .subtitle {
            font-size: 14px;
          }
        }

        .dropper-wrapper {
          display: flex;
          justify-content: flex-end;
          .wpcf7-file {
            font-size: 14px;
            margin: 0;
            padding: 0;
            width: 205px;
            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }
        }
      }


      .checkbox-wrapper {
        display: flex;
        margin-bottom: 20px;

        .text-notice {
          font-size: 16px;
          a {
            color: #FF8057;
            transition: color 0.2s ease;

            &:hover{
              color: #FFFFFF;
            }
          }
        }

        .checkbox {
          padding-right: 10px;
          margin-top: 8px;
        }

        span {
          margin: 0;
        }

        input {
          position: relative;
          opacity: 0;
          margin: 0 5px 0 0;
          font-size: 16px;
          z-index: 123123;
          width: 20px;
          height: 20px;
          margin: 0;
        }
        span.wpcf7-list-item {
          width: 46%;
          width: calc(50% - 3px);
          margin: 0;
          position: relative;
        }
        span.wpcf7-list-item-label {
          cursor: pointer;
          vertical-align: top;
        }
        span.wpcf7-list-item-label:before {
          content:"";
          display: block;
          position: absolute;
          width: 15px;
          height: 15px;
          left: 0;
          top: 0;
          background:#00000000;
          border: 1px solid white;
        }

        input:checked + span.wpcf7-list-item-label:before {
          background: white;
        }


        .wpcf7-not-valid-tip {
          position: absolute;
          width: 300px;
        }
      }

      .wpcf7-submit {
        position: relative;
        display: inline-block;
        padding: 0;
        font-family: 'CadizWeb';
        font-size: 18px;
        font-weight: 700;
        color: #EF7D55;
        background-color: transparent;
        border: 0;
        transition: color 0.2s ease;

        &:hover{
          color: #FFFFFF;
          &:after {
            opacity: 1;
            left: 10px;
          }
        }
      }
    }
  }
}

.contact-privacy {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100vh;
  width: 100%;
  background-color: $text-dark;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFFFFF;
  overflow: auto;
  display: none;

  .toggle-privacy {
    position: absolute;
    right: 30px;
    top: 10px;
    height: 40px;
    width: 21px;

    &:hover {
      cursor: pointer;
    }
  }

  .main-subtitle {
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }

  h5 {
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }

  .main-logo {
    width: 66px;
    height: 74px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.contact-thank {
  padding: 40px;
  height: 100vh;
  width: 100%;
  background-color: $text-dark;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFFFFF;
  overflow: auto;
  display: none;

  .toggle-thank {
    position: absolute;
    right: 30px;
    top: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .wrapper {

    h3 {
      font-size: 25px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .main-subtitle {
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
  }

  h5 {
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }

  .main-logo {
    width: 66px;
    height: 74px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.text-section-5050 {
  padding: 120px;
  padding-left: 335px;
  padding-right: 335px;
  padding-top: 0;
  color: $text-dark;

  @media (min-width: 1200px) and (max-width: 1600px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @include media-breakpoint-down(md) {
    padding: 30px;
    padding-top: 30px;
  }

  h1, h2, h3, h4, h5 {
    font-size: 33px;
    line-height: 55px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #EF7D55;

    @include media-breakpoint-down(md) {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 15px;
    }
  }

  p {
    color: $text-dark;
    font-size: 16px;
    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  .text-column {
    padding-top: 120px;
    padding-right: 50px;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }
}

@keyframes fade-in-top {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fade-in-top-stroke {
  0% {
    top: -155px;
    opacity: 0;
  }
  100% {
    top: -105px;
    opacity: 1;
  }
}

.tabbed-view-section {
  color: $text-dark;

  .nav-tabs {
    padding: 70px;
    padding-left: 335px;
    padding-right: 335px;
    border: 0;
    margin-top: 17px;
    position: relative;

    .nav-item {
      margin-right: 30px;
      .nav-link {
        border: 0;
        color: $theme-orange;
        &:hover {
          color: $text-dark !important;
        }

        &.active {
          color: $text-dark;
          &:hover {
            color: $theme-orange;
            @include media-breakpoint-down(md) {
              color: $text-dark !important;
            }
          }
          &:after {
            opacity: 1;
            left: 10px;
          }
        }
      }
    }

    &.visible-anim {
      animation-name: fade-in-top;
      animation-duration: 2s;
    }

    @media (min-width: 1200px) and (max-width: 1600px) {
      padding-left: 200px;
      padding-right: 200px;
    }

    @include media-breakpoint-down(lg) {
      padding-left: 120px;
      padding-right: 120px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0;
      padding: 0;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 40px;
      flex-direction: column;
    }
  }

  .tab-content {
    background-color: #DAE3E3;
    padding: 120px;
    padding-left: 335px;
    padding-right: 335px;
    padding-bottom: 50px;

    @media (min-width: 1200px) and (max-width: 1600px) {
      padding-left: 200px;
      padding-right: 200px;
    }

    @include media-breakpoint-down(lg) {
      padding-left: 120px;
      padding-right: 120px;
    }

    @include media-breakpoint-down(md) {
      padding: 55px;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px;
    }

    .stroke {
      border: 2px solid $text-dark;
      margin-left: 10px;
      margin-right: 10px;
      height: 1px;
      width: 127px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center;
      transform: rotate(90deg);
      top: -105px;
      position: relative;
      left: 70px;
      @include media-breakpoint-down(md) {
        display: none;
      }

      &.visible-anim {
        animation-name: fade-in-top-stroke;
        animation-duration: 2s;
      }
    }

    h3 {
      padding-bottom: 30px;
      font-size: 33px;
      font-weight: bold;

      &:first-child {
        padding-bottom: 15px;
      }

      @include media-breakpoint-down(md) {
        font-size: 24px;
        padding-bottom: 15px;
      }
    }

    .bottom-link {
      border: 0;
      color: $theme-orange;
      &:hover, &.active {
        color: $text-dark;
      }
    }
  }
}

.hero-section {
  position: relative;
  height: 70vh;
  padding-left: 250px;
  padding-right: 250px;
  display: block;

  @include media-breakpoint-down(md) {
    display: none;
    padding-left: 55px;
    padding-right: 55px;
    background-position: center !important;
    height: 40vh;
  }

  &.mobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .container,
  .row {
    height: 100%;
  }

  .h-100 {
    padding:50px 0;

    @include media-breakpoint-down(md) {
      //padding: 100px 0;
    }
  }

  h1 {
    font-family: 'CadizWeb';
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    color: #102841;
    margin-bottom: 0;
    margin-top: 140px;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }

    @include media-breakpoint-up(md) {
      font-size: 45px;
      line-height: 70px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 65px;
      line-height: 80px;
      margin-left: -40px;
    }


    &.small-text {
      font-size: 20px;
      line-height: 25px;

      @include media-breakpoint-up(md) {
        font-size: 29px;
        line-height: 40px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 33px;
        line-height: 45px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }

  .justify-content-center {
    h1 {
      text-align: center;
    }
  }

  .justify-content-end {
    h1 {
      text-align: right;
    }
  }

  @include media-breakpoint-up(md) {
    background-size: cover;
    height: 100vh;
    max-height: 100vh;

    .h-100 {
      padding: 200px 0;

      &.align-items-end {
        padding-bottom: 50px;
      }
    }


  }
}

.hero-section-split {

  .main-btn {
    width: 144px;
    background-color: #1B213E;
    color: white;
    margin-left: 150px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 43px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }

  .split-background {
    position: relative;
    height: 40vh;
    padding-left: 120px;
    padding-right: 120px;

    @include media-breakpoint-down(md) {
      padding-left: 55px;
      padding-right: 55px;

      .col {
        height: 100%;
      }
    }

    @media (max-width: 400px) {
      height: 50vh;
    }

    @media (max-width: 350px) {
      height: 60vh;
    }
  }

  .split-image {
    position: relative;
    height: 60vh;
    padding-left: 120px;
    padding-right: 120px;
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
      padding-left: 55px;
      padding-right: 55px;
      background-position: center !important;
      height: 40vh;
    }
  }

  .split-image-mobile {
    height: 60vh;
    padding-left: 120px;
    padding-right: 120px;
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      padding-left: 55px;
      padding-right: 55px;
      background-position: center !important;
      height: 40vh;
    }
  }

  .container,
  .row {
    height: 100%;
  }

  .h-100 {
    padding:50px 0;

    @include media-breakpoint-down(md) {
      padding: 50px 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center !important;
      &.justify-content-center {
        align-items: center;
      }
      &.justify-content-end {
        align-items: flex-end;
      }
    }
  }

  h1 {
    font-family: 'CadizWeb';
    font-size: 35px;
    line-height: 60px;
    font-weight: 700;
    color: #102841;
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
      font-size: 45px;
      line-height: 70px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 65px;
      line-height: 80px;
    }


    &.small-text {
      font-size: 24px;
      line-height: 40px;

      @include media-breakpoint-down(sm) {
        font-size: 24px !important;
        line-height: 40px;
      }

      @include media-breakpoint-up(md) {
        font-size: 25px;
        line-height: 40px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 29px;
        line-height: 45px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 33px;
        line-height: 50px;
      }
    }
  }

  .justify-content-center {
    h1 {
      text-align: center;
    }
  }

  .justify-content-end {
    h1 {
      text-align: right;
    }
  }

  @include media-breakpoint-up(md) {
    background-size: cover;
    height: 100vh;
    max-height: 100vh;

    .h-100 {
      padding: 175px 0;

      &.align-items-end {
        padding-bottom: 50px;
      }
    }


  }
}

.text-section-styled {

  &.bg-green {
    background-color: #DAE3E3;
  }

  .col {
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 25px;
    color: $text-dark;

    margin: 0 auto;

    &.extra-padding {
      padding: 230px 0;
    }

    p {
      margin-bottom: 45px;

      @include media-breakpoint-down(md) {
        margin-bottom: 25px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 23px;
      }
    }

    .arrow-link {
      @include media-breakpoint-down(md) {
        font-size: 14px !important;
      }
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
      padding: 55px;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px;
    }


    @include media-breakpoint-up(lg) {
      padding: 95px 25px 95px;
      font-size: 23px;
      line-height: 50px;

      p {
        margin-bottom: 20px;
      }

      &.padd-sides {
        padding-left: 130px;
        padding-right: 130px;
      }

      &.padd-top-bottom {
        padding-top: 236px;
        padding-bottom: 208px;
      }
    }
  }
}

.standard-text-section {
  padding: 50px;
  padding-left: 320px;
  padding-right: 320px;

  @media (min-width: 1200px) and (max-width: 1600px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @include media-breakpoint-down(md) {
    padding: 30px;
  }

  &.green {
    background-color: #DAE3E3;
  }

  &.white {
    background-color: #FFFFFF;
  }


  .col {
    color: $text-dark;

    p {
      font-size: 16px;
      line-height: 30px;
      @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 25px;
      }
    }

    h1, h2, h3, h4, h5 {
      font-size: 33px;
      font-weight: bold;
      margin-bottom: 50px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

  }
}

.switchable-image-section {

  .order-last {
    @include media-breakpoint-down(sm) {
      order: 0;
    }
  }

  .image-text-col {

    @include media-breakpoint-down(sm) {
      padding: 55px;
    }

  }

  .image-col {
    padding-bottom: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include media-breakpoint-down(sm) {
      padding-bottom: 75%;
    }
  }


  h1, h2, h3, h4, h5, h6 {
    color: #EF7D55;
    font-size: 33px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 2px;
    @include media-breakpoint-down(md) {
      line-height: 40px;
      margin-bottom: 20px;
      font-size: 25px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 15px;
      font-size: 20px;
    }
  }

  p {
    line-height: 32px;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 28px;
    }
  }


  .col {
    @include media-breakpoint-down(sm) {
      padding: 30px;
    }

    @include media-breakpoint-up(md) {
      padding: 55px;
    }

    @include media-breakpoint-up(lg) {
      padding: 120px;
    }

    @media (min-width: 1600px) {
      padding: 230px;
    }
  }

}

.contact-banner {
  min-height: 395px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-dark;

  .content {
    &.phone {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }


    &.desktop {
      display: block;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 55px;
  }

  @include media-breakpoint-down(sm) {
    padding: 30px;
  }

  h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 23px;
    line-height: 40px;

    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  a {
    text-decoration: underline;
    color: $text-dark;
  }
}

body {

  font-family: 'CadizWeb';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: $theme-body-color;
  position: relative;

  text-rendering: optimizeLegibility;     /* emphasizes in legibility over rendering speed */
  -webkit-font-smoothing: antialiased;    /* apply font anti-aliasing */
  -moz-osx-font-smoothing: grayscale;     /* optimize font rendering */

  -moz-font-feature-settings:"kern" 1;    /* turn on kerning, highly recomened */
  -ms-font-feature-settings:"kern" 1;     /* turn on kerning, highly recomened */
  -o-font-feature-settings:"kern" 1;      /* turn on kerning, highly recomened */
  -webkit-font-feature-settings:"kern" 1; /* turn on kerning, highly recomened */
  font-feature-settings:"kern" 1;         /* turn on kerning, highly recomened */
  font-kerning: normal;                   /* turn on kerning, highly recomened */

  font-feature-settings: "liga" off;      /* ligatures: on or off */
  font-feature-settings: "dlig" off;      /* discretionary-ligatures: on or off */
  font-feature-settings: "tnum" off;      /* tabular figures: on or off */
  font-feature-settings: "onum" off;      /* old-style-figures: on or off */
  font-feature-settings: "ss01" off;      /* alternate glyphs (stylistic Set): on or off */


  .bg--dark {
    background-color: $bg-dark;
  }

  &.no-scroll {
    overflow:hidden;
  }

  .contact-float {
    display: flex;
    position: fixed;
    z-index: 9;
    right: 67px;
    bottom: 55px;

    .logo {
      height: 50px;
      width: 50px;
    }

    @include media-breakpoint-down(md) {
      bottom: 20px;
      right: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }


  .follow-us {
    display: flex;
    position: fixed;
    z-index: 123;
    left: -50px;
    bottom: 132px;
    transform: rotate(-90deg);

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-down(md) {
      left: -75px;
      bottom: 100px;
    }

    p {
      font-family: 'Roboto Mono', monospace;
      color: black;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }

    .social-icons {
      a {
        margin-right: 10px;
      }
    }

    .line {
      border: 1px solid #000;
      margin-left: 10px;
      margin-right: 10px;
      height: 1px;
      width: 53px;
      display: flex;
      align-self: center;
    }

    .logo {
      transform: rotate(90deg);
      height: 15px;
      width: auto;
    }
  }


  .arrow-link {
    position: relative;
    display: inline-block;
    padding: 0;
    padding-left: 27px;
    font-family: 'CadizWeb';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    color: $text-dark;
    transition: color 0.2s ease;

    @include media-breakpoint-up(md) {
      font-size: 18px;
    }

    &:before, &:after {
      position: absolute;
      content: '>';
      top: -1px;
      left: 0;
      letter-spacing: 0;
    }

    &:after {
      opacity: 0;
      transition: left 0.2s ease, opacity 0.1s ease;
    }

    &:hover{
      color: $theme-orange !important;
      &:after {
        opacity: 1;
        left: 10px;
      }
    }
  }
}

.nav-wrapper {
  height: 60px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  @include media-breakpoint-up(lg) {
    min-height: 73px;
  }


  &.white {
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px rgba(0,0,0,.03);
    box-shadow: 0 8px 6px rgba(0,0,0,.03);
  }
}

.toggle-container {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 20%;
  height: 60px;


  .burger {
    margin-top: 19px;
    width: 30px;
    float: right;
    cursor: pointer;
    .burger-line {
      width: 100%;
      height: 2px;
      background-color: $theme-orange;
      margin-bottom: 7px;
      transition: all 0.2s ease;

      &.top {}
      &.middle { width: 60%; }
      &.border-bottom {}
    }

    &:hover {
      .burger-line.middle {
        width: 100%;
      }
    }
  }

  &.active {
    z-index:102;

    .burger {
      .burger-line {
        &.top {
          transform: translateY(9px) rotate(45deg);
          -moz-transform: translateY(9px) rotate(45deg);
          -webkit-transform: translateY(9px) rotate(45deg);
        }
        &.middle {
          width: 0%;
          opacity: 0;
        }
        &.bottom {
          transform: translateY(-9px) rotate(-45deg);
          -moz-transform: translateY(-9px) rotate(-45deg);
          -webkit-transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}


.nav-container {

  @include media-breakpoint-down(md) {

    height: 60px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 10;

    #menu1 {
      background-color: rgba(18,41,64, 0.95);
      position: fixed;
      margin-top: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 101;
      display: none;

      .menu-horizontal {
        margin:140px 0 0 0;
        overflow-y: auto;
        li {

          // Transition from
          opacity: 0;
          margin-left: -40px;


          padding: 8px 0;
          transition: opacity 0.2s ease, margin-left 0.2s ease-out;

          a {
            font-size: 30px;
            font-weight: 700;
            color: #FFF;
            &:visited {
              color: #FFF;
            }
            &:hover, &:active {
              color: $theme-orange;
            }
          }

          &.current-menu-item a {
            color: $theme-orange;
          }
        }
      }

      &.active .menu-horizontal {

        @for $i from 1 through 20 {
          li:nth-child(#{$i}) {
            transition-delay: $i*50ms;
          }
        }

        li {
          opacity: 1;
          margin-left: 0;
        }
      }
    }

    .logo {
      width: 136px;
      height: 15px;
      margin-top: 23px;
      position: relative;
      z-index: 100;
    }

  }

  @include media-breakpoint-up(lg) {
    min-height: 73px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    transition: all 0.5s ease;

    &.white {
      background-color: #fff;
      -webkit-box-shadow: 0 8px 6px rgba(0,0,0,.03);
      box-shadow: 0 8px 6px rgba(0,0,0,.03);
    }

    .logo {
      width: 198.43px;
      height: 22.27px;
      margin: 30px 0 0 0px;
      position: fixed;
      left: 53px;
      z-index: 1337;
      @include media-breakpoint-up(xl) {
        margin-left: 0;
      }
    }

    #menu1 {
      display: block !important;
      .menu-horizontal {
        margin: 25px 0 0 0;
        margin-left: 45px;
        display: flex;
        justify-content: center;

        li {
          float: left;
          margin-right: 40px;
          a {
            font-size: 16px;
            position: relative;
            font-weight: 700;
            color: #102841;

            &:after {
              display: block;
              content: '';
              position: absolute;
              bottom: -5px;
              left: 0;
              height: 2px;
              background-color: #102841;
              width: 0%;
              opacity: 0;
              transition: none;
              transition: all 0.2s ease;
            }

            &:hover {
              &:after{
                width: 100%;
                opacity: 1;
              }
            }
          }

          &.current-menu-item a {
            &:after {
              width: 100%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    #menu1 {
      .menu-horizontal {
        li {
          margin-right: 60px;
        }
      }
    }
  }
}

.main-container {
  @include media-breakpoint-up(md) {

  }
}


footer {
  color: #FFF;
  padding: 30px;
  padding-top: 0;

  .copyright-wrapper {
    width: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
  }

  .copyright {
    margin: 0;
    bottom: 0;
    display: flex;
    font-size: 12px;
    opacity: 0.5;
    //margin-top: 50px;

    span {
      font-size: 20px;
      margin-right: 5px;
      margin-top: 2px;
    }
  }

  .footer-logo {
    width: 103px;
    height: 17px;
    margin: 45px 0 0 0px;
    @include media-breakpoint-up(xl) {
      margin-left: 0;
    }
  }

  h4 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 45px;
    padding-bottom: 5px;
  }

  .icon-block {
    padding:7px 0;
    font-size: 14px;
    line-height: 32px;
    display: flex;
    align-items: center;

    a {
      color: #FFF;
      &:active, &:hover, &:visited {
        color: #FFF;
      }
    }

    .footer-icon {
      width: 18px;
      height: 13px;
      background-size: contain;
      background-position: center left;
      background-repeat: no-repeat;
    }

    .address {
      background-position: 0px 12px;
      background-image: url(../images/location.png) !important;
    }

    .email {
      padding-left: 38px;
      background-image: url(../images/mail.png) !important;
    }

    .phone {
      width: 25px !important;
      height: 18px !important;
      padding-left: 38px;
      background-image: url(../images/phone.png) !important;
    }

    .social {
      padding-left: 38px;
      background-image: url(../images/social.png) !important;
    }

  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 85px;
  }


  @include media-breakpoint-up(md) {
    min-height: 273px;
    height: 273px;

    h4 {
      padding-top: 45px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 140px;
    padding-top: 0;
    padding-bottom: 55px;
  }

  @media (min-width: 1200px) and (max-width: 1600px) {
    //padding-left: 200px;
    //padding-right: 200px;
  }

  @media (min-width: 1600px) {
    padding-left: 170px;
    padding-right: 170px;
  }

  .left-block {
    padding-left: 0;
    a {
      font-weight: normal;
      font-size: 14px;
    }
  }
}


div {
  span.ajax-loader {
    position: absolute;
    right: 23px;
    top: 12px;

    background-image: url(../images/ajax-loader.gif) !important;
    background-size: contain;

    transition: .1s linear;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transition: .1s linear;
  }
}

.wpcf7-submit:hover + span.ajax-loader {
  transform: translate3d(0,-2px,0);
  -webkit-transform: translate3d(0,-2px,0);

  transition: .1s linear;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transition: .1s linear;
};

span.wpcf7-not-valid-tip {
  font-size: .85714286em !important;
  color: $theme-orange !important;
}

div.wpcf7-response-output {
  width: 100% !important;
  border-radius: 6px;
  margin-right: 0 !important;
  margin-left: 0px !important;

  &.wpcf7-validation-errors, &.wpcf7-acceptance-missing {
    border: 2px solid $theme-orange;
  }

  &.wpcf7-mail-sent-ok {
    border: 2px solid $theme-orange;
    /*#63c5e8*/
  }
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'CadizWeb';
  margin-top: 0;
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 65px;
  line-height: 80px;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 40px;
}

h3,
.h3 {

}

h4,
.h4 {

}

h5,
.h5 {

}

h6,
.h6 {

}

.lead {
  font-size: 1.35714286em;
  line-height: 1.68421053em;

  @media all and (max-width: 767px) {
    font-size: 1.35714286em;
    line-height: 1.36842105em;
  }
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1.85714286em;
}

ul,
ol {
  list-style: none;
  line-height: 1.85714286em;
}

ul.bullets {
  list-style: inside;
}

ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}

blockquote {
  font-size: 1.78571429em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  border-left: 0;
}

strong {
  font-weight: 600;
}

hr {
  margin: 1.85714286em 0;
  border-color: #fafafa;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
/*! Typography -- Helpers */
.type--fade {
  opacity: .5;
}

.type--uppercase {
  text-transform: uppercase;
}

.type--bold {
  font-weight: bold;
}

.type--italic {
  font-style: italic;
}

.type--fine-print {
  font-size: 0.85714286em;
}

.type--strikethrough {
  text-decoration: line-through;
  opacity: .5;
}

.type--underline {
  text-decoration: underline;
}

.type--body-font {
  font-family: 'Open Sans', 'Helvetica';
}

/**! 03. Position **/
body {
  overflow-x: hidden;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-absolute.container {
  left: 0;
  right: 0;
}

.pos-top {
  top: 0;
}

.pos-bottom {
  bottom: 0;
}

.pos-right {
  right: 0;
}

.pos-left {
  left: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}


