// Theme variables
$theme-body-color: #000;
$theme-orange: #EF7D55;
$bg-dark: #1B213E;
$text-dark: #1B213E;

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px ) !default;

$container-max-widths: (
sm: 600px,
md: 800px,
lg: 1000px,
xl: 1920px ) !default;