<section class="text-section-5050">
  <div class="container">
    <div class="row">
      {% for column in text_columns %}
        <div class="col-lg-6 col-sm-12 test">
          <div class="text-column">
              {{column["acf_5050ts_content"]}}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
