<section class="career-section text-center">
  <div class="container">
    <div class="row">
      {% for puff in blocks %}
        <div class="col-md-6">
          <div class="feature feature-1 feature-cut">
            <img alt="Image" src="{{puff.acf_cbs_image.sizes.career_block_image}}">
            <div class="feature__body feature--centered">
              <p class="add">
                {{puff.acf_cbs_text}}
              </p>
              <p>
                <a class="btn btn--primary type--uppercase" href="{{puff.acf_cbs_button_link}}">
                  <span class="btn__text">
                    {{puff.acf_cbs_button_text}}
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>