{% if banner_background["acf_cb_image"] %}
  <section class="contact-banner" data-parallax="scroll" data-image-src="{{banner_background["acf_cb_background_image"]["url"]}}" data-speed="0.{{banner_background["acf_cb_parallax_speed"]}}"
  style="
    background-size: cover;
    background-position: cover;
    min-height: 550px;
    {{banner_background["acf_cb_image_tint"] ?
    "background-color: rgba(255, 255, 255, 0.77);
    background-blend-mode: color;"}}"
  >
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="content desktop">
            {{content}}
          </div>
          <div class="content phone">
            {{content_phone}}
          </div>
        </div>
      </div>
    </div>
  </section>
{% else %}
  <section class="contact-banner" style="background-color: {{(banner_background["acf_cb_background_color"] == NULL) ? "white" : banner_background["acf_cb_background_color"]}}">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="content desktop">
            {{content}}
          </div>
          <div class="content phone">
            {{content_phone}}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

