<section class="featured-section">
  <div class="container">
    {% if main_column|length > 1%}
      <div class="row">
          <div class="main-column">
            {{main_column}}
          </div>
      </div>
    {% endif %}
    <div class="row">
      {% for box in feature_boxes %}
        <div class="col-xs-12 col-sm col-md feature-wrap">
          <div class="feature">
              {{box["content"]}}
          </div>
        </div>
      {% endfor %}
    </div>
    {% if link_group["enable"] %}
      <div class="row">
        <div class="bottom-link">
          {% if link_group.custom_overlay %}
            <a class="arrow-link toggle-overlay">{{link_group["text"]}}</a>
          {% else %}
            <a class="arrow-link" href="{{link_group["url"]}}">{{link_group["text"]}}</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</section>
