<section class="hero-section" data-image-src="{{hs_image}}" data-speed="0.{{p_speed}}">
  <div class="container">
    <div class="row">
      <div class="col col-md-12">
        <div class="h-100 d-flex {{flex_class}}">
          <h1 class="{{hs_text_size}}" style="color: {{hs_text_color}};" >
            {{hs_text}}
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero-section mobile" style="background: url({{hs_image}}); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="container">
    <div class="row">
      <div class="col col-md-12">
        <div class="h-100 d-flex {{flex_class}}">
          <h1 class="{{hs_text_size}}" style="color: {{hs_text_color}};" >
            {{hs_text}}
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>



