<section class="hero-section-split">
  <div class="split-background" style="background-color: {{hs_bg_color}}">
    <div class="container">
      <div class="row">
        <div class="col col-md-12">
          <div class="h-100 d-flex {{flex_class}}">
            <h1 class="small-text" style="{{hss_button ? 'font-size: 30px;' : ''}}">
              {{hs_text}}
            </h1>
            {% if hss_button %}
              <div class="main-btn-wrapper {{flex_class}}">
                <a href="{{hss_button_link}}" class="main-btn">{{hss_button_text}}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if parallax %}
    <div class="split-image" data-image-src="{{hs_image}}" data-speed="0.{{p_speed}}"></div>
    <div class="split-image-mobile" style="background: url({{hs_image}}); background-size: cover; background-repeat: no-repeat;"></div>
  {% else %}
    <div class="split-image" style="background: url({{hs_image}}); background-size: cover; background-repeat: no-repeat;"></div>
    <div class="split-image-mobile" style="background: url({{hs_image}}); background-size: cover; background-repeat: no-repeat;"></div>
  {% endif %}
</section>
