<section class="reference-section">
  <div class="container">
    <div class="row">
      <div class="wrapper">
          <h2>{{group_1["rubrik"]}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="wrapper">
        {% for ref in group_1["referenser"] %}
          {{(ref["site_link"]) ?
            "<div class='col'><a href='" ~ ref['site_link'] ~ "' target='_blank'><img src='" ~ ref['bild']['url'] ~ "'/></a></div>"
          :
            "<div class='col'><img src='" ~ ref['bild']['url'] ~ "'/></div>"
          }}
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="wrapper">
          <h2>{{group_2["rubrik"]}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="wrapper no-padding">
        {% for ref in group_2["referenser"] %}
          {{(ref["site_link"]) ?
            "<div class='col'><a href='" ~ ref['site_link'] ~ "' target='_blank'><img src='" ~ ref['bild']['url'] ~ "'/></a></div>"
          :
            "<div class='col'><img src='" ~ ref['bild']['url'] ~ "'/></div>"
          }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>