<section class="switchable-image-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 image-col {{sis_position}}" style="background-image: url({{sis_image}})"></div>
      <div class="col-12 col-md-6 align-self-center">
        <div class="row">
          <div class="col col-md-12 text-center image-text-col">
            {{sis_text}}
            {% if sis_link %}
              <a href="{{sis_link_url}}" class="arrow-link">{{sis_link_text}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>