<section class="tabbed-view-section">
    <ul class="nav nav-tabs" id="{{block.id}}" role="tablist">
    {% for tab in tv_tabs %}
      <li class="nav-item">
        <a class="nav-link {% if loop.index == 1 %}active{% endif %} arrow-link"
            id="{{loop.index}}-tab"
            data-toggle="tab"
            href="#tab-{{loop.index}}"
            role="tab"
            aria-controls="tab-{{loop.index}}"
            aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}">
          0{{loop.index}}. {{tab.acf_tv_tab_text}}
        </a>
      </li>
    {% endfor %}
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="stroke"></div>
      {% for tab in tv_tabs %}
        <div class="tab-pane fade show {% if loop.index == 1 %}active{% endif %}" id="tab-{{loop.index}}" role="tabpanel" aria-labelledby="{{loop.index}}-tab">
          <div class="col-xs-12 col-md-8">
            <h3>0{{loop.index}}.</h3>
            <h3>{{tab.acf_tv_tab_header}}</h3>
            {{tab.acf_tv_tab_content}}

            {% if tab["acf_tv_tab_link"] %}
              {% if tab["acf_tv_custom_overlay"] %}
                <a class="bottom-link arrow-link toggle-overlay">{{tab["acf_tv_tab_link_text"]}}</a>
              {% else %}
                <a class="bottom-link arrow-link" href="{{tab["acf_tv_tab_link_url"]}}">{{tab["acf_tv_tab_link_text"]}}</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
</section>