<section class="team-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>{{section_title}}</h2>
      </div>
    </div>
    <div class="row">
      {% for person in the_team %}
        <div class="col-md-6">
          <div class="person">
            <img alt="Image of {{person.acf_tts_team_name}}" src="{{person.acf_tts_team_image.url}}">
            {% if person.acf_tts_team_name %}
              <h4>{{person.acf_tts_team_name}} - {{person.acf_tts_team_title}}</h4>
            {% endif %}
            {% if person.acf_tts_team_phone %}
              <h5>
                <a href="tel:{{person.acf_tts_team_phone}}">{{person.acf_tts_team_phone}}</a> / <a href="mailto:{{person.acf_tts_team_email}}">{{person.acf_tts_team_email}}</a>
              </h5>
            {% endif %}
            {% if person.acf_tts_team_text %}
              <p>
                {{person.acf_tts_team_text}}
              </p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>