<section class="text-center text-section-styled {{bg_color}}">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12 col-lg-8 col-lg-offset-2 text-center {{tss_class}}">
      {{tss_text}}

      {% if tss_link != false %}
        {% if tss_link.acf_tss_custom_overlay == false %}
          <a href="{{tss_link.acf_tss_link_url}}" class="arrow-link">{{tss_link.acf_tss_link_text}}</a>
        {% else %}
          <a class="arrow-link toggle-overlay">{{tss_link.acf_tss_link_text}}</a>
        {% endif %}
      {% endif %}
      </div>
    </div>
  </div>
</section>