<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        {% for paper in papers %}
          <div class="text-block">
            <span>{{paper.acf_wps_date}}</span>
            <h4 class="white--paper--heading">{{paper.acf_wps_title}}</h4>
            <p>
                {{paper.acf_wps_text}} 
                <br>
                <a href="{{(unbounce) ? paper.acf_wps_pdf : 'http://whitepapers.arctoslabs.com'}}" class="read--more--link">Read more</a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>