{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" data-smooth-scroll-offset="77">
		{% block navigation %}
			{% include 'navigation.twig' %}
		{% endblock %}

		{% block floating_content %}
			{% include 'floating.twig' %}
		{% endblock %}

		<div class="main-container">
			{% block content %}
			{% endblock %}
		</div>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

		{% block contact_overlay %}
			{% include 'contact-overlay.twig' %}
		{% endblock %}

		{% block contact_privacy %}
			{% include 'contact-privacy.twig' %}
		{% endblock %}

		{% block contact_thank %}
			{% include 'contact-thank.twig' %}
		{% endblock %}
	</body>
</html>
