<section class="contact-overlay">
  <img class="toggle-overlay" src="{{ site.theme.link }}/assets/images/x.png" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
        <div class="wrapper">
          <img class="main-logo" src="{{ site.theme.link }}/assets/images/c-logo.png"/>
          <h3 class="main-title">{{form.title}}</h3>
          <p class="main-subtitle">{{form.subtitle}}</p>
          {{ function("do_shortcode", "[contact-form-7 id='" ~ form.id ~ "' title='" ~ form.title ~ "']") }}
        </div>
      </div>
    </div>
  </div>
</section>