<section class="contact-thank">
  <img class="toggle-thank" src="{{ site.theme.link }}/assets/images/x.png" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
        <div class="wrapper">
          <img class="main-logo" src="{{ site.theme.link }}/assets/images/c-logo.png"/>
          <h3 class="main-title">Tack!</h3>
          <p class="main-subtitle">Tack för din ansökan.</p>
          <p class="main-subtitle">Vi återkommer till dig så snart som möjligt!</p>
        </div>
      </div>
    </div>
  </div>
</section>