<section class="contact-privacy">
  <img class="toggle-privacy close-privacy" src="{{ site.theme.link }}/assets/images/x.png" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="wrapper">
          {{form.privacy_content}}
        </div>
      </div>
    </div>
  </div>
</section>