<div class="follow-us">
  <div class="social-icons">
    {% if social_icons %}
      {% for icon in social_icons %}
        {% if icon["acf_link"]|length > 1 %}
          <a href="{{icon["acf_link"]}}" target="_blank">
            <img class="logo" alt="logo" src="{{ icon["acf_icon"]["url"] }}">
          </a>
        {% else %}
          <a>
            <img class="logo" alt="logo" src="{{ icon["acf_icon"]["url"] }}">
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="line"></div>
  <p>Följ oss.</p>
</div>

{% if contact_bubble_link %}
  <a href="{{contact_bubble_link}}">
    <div class="contact-float">
      <img class="logo" alt="logo" src="{{site.theme.link}}/assets/images/contact-float.png">
    </div>
  </a>
{% else %}
  <div class="contact-float">
    <img class="logo" alt="logo" src="{{site.theme.link}}/assets/images/contact-float.png">
  </div>
{% endif %}
