<footer class="bg--dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-6">
        <img class="footer-logo" alt="logo" src="{{ site.theme.link }}/assets/images/convitro-footer-logo.png">
      </div>
      <div class="col-md-4 col-xl-3">
        <h4>{{footer.left_title}}</h4>
        {% for social in footer.social %}
          <div class="icon-block left-block">
            <a class="arrow-link" href="{{social.lank}}">{{social.text}}</a>
          </div>
        {% endfor %}
      </div>

      <div class="col-md-4 col-xl-3">
        <h4>{{footer.right_title}}</h4>
        {% for field in footer.fields %}
          <div class="icon-block">
            <div class="footer-icon {{field.icon}}"></div>
            <a href="{{field.link}}" target="{{field.target}}">{{field.text}}</a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row copyright-wrapper">
      <div class="col-12">
        <p class="copyright"><span>&copy;</span> All rights reserved</p>
      </div>
    </div>
  </div>
</footer>