<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta property="og:title" content="Convitro" />
    <meta property="og:image" content="{{site.theme.link}}/assets/images/convitro-logo.png" />
    <script type="text/javascript" src="https://cdn.timelab.se/cookie-controller.1.4.js"></script>
	<script type="text/javascript" src="{{site.theme.link}}/assets/js/cookie-settings.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85946832-1" data-cookie-category="statistics" data-cookie-names="_ga,_gid,_gat_gtag_UA_85946832-1" type="text/javascript"></script>
    <script type="text/javascript" data-cookie-category="statistics">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-85946832-1');
    </script>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/assets/css/main.min.css" type="text/css" media="screen" />
    <script type="text/javascript" data-cookie-category="necessary" data-cookie-names="_main" src="{{site.theme.link}}/assets/js/main.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.link}}/assets/images/c-logo.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.theme.link}}/assets/images/c-logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.link}}/assets/images/c-logo.png">
    {{function('wp_head')}}
