<nav class="nav-wrapper">
  <div class="toggle-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="burger">
            <div class="burger-line top"></div>
            <div class="burger-line middle"></div>
            <div class="burger-line bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-container">
    <div class="d-block d-sm-block d-lg-none">
      <div class="container">
        <div class="row">
          <div class="col-8 col-md-4">
            <a href="{{ site.link }}">
              <img class="logo logo-dark" alt="logo" src="{{ site.theme.link }}/assets/images/convitro-logo.png">
            </a>
          </div>
        </div>
      </div>
    </div>

    <nav id="menu1">
      <div class="container">
        <div class="row">
          <div class="col d-none d-lg-block">
            <a href="{{ site.link }}">
              <img class="logo logo-dark" alt="logo" src="{{ site.theme.link }}/assets/images/convitro-logo.png">
            </a>
          </div>
          <div class="col-12">
              {% include 'menu.twig' with { 'menu' : menu } %}
          </div>
        </div>
      </div>
    </nav>
  </div>
</nav>